---
layout: default
---
<link href= "{{ "/assets/css/about.css" | prepend: site.baseurl | replace: '//', '/'}}" rel="stylesheet">
<article class="about_article">
  <h3 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="1/">关于我</a></h3>
  <div class="about">
    <h2>Just about me</h2>
    <ul>
      <p>浅浅徘徊，男，一个94年出生喜欢研究安全姿势的小菜鸟！对web安全和逆向有一定了解，于15入行移动安全领域，从事于Android逆向和Apk加固。然后经历过一次失败的跳槽，思索了许久，最终找到了自己的方向。
      </p>
      <p>平日喜欢参加各种安全竞赛，CTF和挑战赛等，时常可以在竞赛中发现我活跃的身影。</p>
      <p></p>
    </ul>
    <h2>About my blog</h2>
    <ul class="blog_a">
      <p>域  名 ： www.angxy.com 创建于2018年01月04日 <a href="https://dnspod.cloud.tencent.com/?from=qcloudProductDns" class="blog_link" target="_blank">注册域名</a><a class="blog_link" href="http://koubei.baidu.com/womc/s/www.yangqq.com" target="_blank">邀你点评</a></p>
      <p>服务器： github<a href="https://www.github.com" class="blog_link" target="_blank">购买空间</a><a href="https://github.com/saidyou/saidyou.github.io" target="_blank" class="blog_link" >参考我的空间配置</a></p>
    </ul>
  </div>
</article>