---
layout: default
---
<link href="{{ "/assets/css/post.css" | prepend: site.baseurl | replace: '//', '/'}}" rel="stylesheet">
<article>
    <h2 class="about_h">您现在的位置是：<a href="#">首页</a>><a href="#">{{ page.category}}</a></h2>
    <div class="index_about">
      <h2 class="c_titile">{{ page.title}}</h2>
      <p class="box_c"><span class="d_time">发布时间：{{ page.date | date: ' %Y-%m-%d'}}</span></p>
      <div role="main" class="infos">
          {{page.content | markdownify}}
      </div>
      
      <div class="keybq">
        <p><span>关键字词</span>： 
        {% if page.tags %}
          {% for tag in page.tags%}
             <a href="#">{{ tag }}</a> 
          {% endfor %}
        {% endif %}</p>
      </div>
    </div>
</article>